.output {
    grid-row: auto;
    align-items: center;
    flex-direction: row;
}
#main {
    flex: auto;
    
}
.form {
    width: auto;
}

.gallery {
    display: flex;
    flex-direction: column;
    max-width: 100%; /* responsive */
    height: auto;
}
