.output {
    grid-row: auto;
    align-items: center;
    flex-direction: row;
}
#main {
    flex: auto;
    
}
.form {
    width: auto;
}
.img {

    margin-bottom: 15px;
    
    
}
.gallery {
        align-items: center;
        flex: content;
        padding: 10%;
}